.anchorTop{
    -fx-background-color: rgb(170,0,0);
}

.detailsBox{
    -fx-background-color: #C53737;
    -fx-border-radius: 25 25 25 25;
    -fx-background-radius: 25 25 25 25;
}

.header{
    -fx-font-family: "Palatino Linotype"; /*Intro Cond Light Free*/
    -fx-text-fill: black; 
    -fx-font-size: 40pt;
}

.header1{
    -fx-font-family: "Palatino Linotype"; /*Biko*/
    -fx-text-fill: rgb(236,237,167); 
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

.header2{
    -fx-font-family: "Palatino Linotype"; /*Biko*/
    -fx-text-fill: rgb(236,237,167);
    -fx-font-size: 20pt;
}

.header3{
    -fx-font-family: "Palatino Linotype"; /*Biko*/
    -fx-text-fill: black;
    -fx-font-size: 10pt;
}


.addEntryBtn{
    -fx-background-color: #C53737;
    -fx-font-family: "Palatino Linotype"; /*Biko*/
    -fx-text-fill: rgb(236,237,167);
    -fx-font-size: 13pt;
    -fx-border-radius: 25 25 25 25;
    -fx-background-radius: 25 25 25 25;
}

.addEntryBtn:hover{
    -fx-background-color: rgb(170,0,0);
    -fx-font-family: "Palatino Linotype"; /*Biko*/
    -fx-text-fill: rgb(236,237,167);
    -fx-font-size: 13pt;
    -fx-border-radius: 25 25 25 25;
    -fx-background-radius: 25 25 25 25;
}

.textFields{
    -fx-background-color: transparent;
    -fx-border-color: #FFF4C5;
    -fx-font-family: "Times New Roman";
    -fx-prompt-text-fill: rgb(255,132,116);
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}

.textFields:focused{
    -fx-background-color: transparent;
    -fx-border-color: #FFF4C5;
    -fx-border-width: 0 0 1 0;
    -fx-background-radius: 0px;
    -fx-border-color: white;
    -fx-font-family: "Times New Roman";
    -fx-prompt-text-fill: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}

.textArea {
    -fx-background-color: transparent;
    -fx-border-color: #FFF4C5;
    -fx-font-family: "Times New Roman";
    -fx-prompt-text-fill: rgb(255,132,116);
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}

.textArea .scroll-pane {
    -fx-background-color: transparent;
}

.textArea .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.textArea .scroll-pane .content{
    -fx-background-color: transparent;
}

.textArea:focused {
    -fx-background-color: transparent;
    -fx-border-color: #FFF4C5;
    -fx-font-family: "Times New Roman";
    -fx-prompt-text-fill: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}

.radioBtn {
    -fx-font-family: "Palatino Linotype"; /*Biko*/
    -fx-text-fill: rgb(236,237,167);
    -fx-font-size: 13pt;
}

.radioBtn .radio{
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
    -fx-border-color: #000;
    -fx-background-insets: 0;
}

.radioBtn:selected .radio .dot{
    -fx-background-color: black;
    -fx-background-insets: 0;
}